# R ç¨‹å¼è¨­è¨ˆ

> è³‡æ–™çµæ§‹

éƒ­è€€ä» <yaojenkuo@datainpoint.com> ä¾†è‡ª[æ•¸æ“šäº¤é»](https://www.datainpoint.com/)

## è‡ªè¨‚ä¸€å€‹å‡½å¼ `taipei_zipcode` è¼¸å‡ºä¸€å€‹é•·åº¦ç‚º 12 çš„æœ‰å‘½å `list`ã€‚

- é æœŸè¼¸å…¥ï¼šç„¡
- é æœŸè¼¸å‡ºï¼šä¸€å€‹ `list`

In [1]:
taipei_zipcode <- function() {
    # tpe_zipcodes <- taipei_zipcode()
    # length(tpe_zipcodes)
    # 12
    # tpe_zipcodes[['100']]
    # 'ä¸­æ­£å€'
    # tpe_zipcodes[['103']]
    # 'å¤§åŒå€'
    # tpe_zipcodes[['104']]
    # 'ä¸­å±±å€'
    # tpe_zipcodes[['114']]
    # 'å…§æ¹–å€'
    # tpe_zipcodes[['115']]
    # 'å—æ¸¯å€'
    # tpe_zipcodes[['116']]
    # 'æ–‡å±±å€'
    ### BEGIN SOLUTION
    return(
        list(
            '100'='ä¸­æ­£å€',
            '103'='å¤§åŒå€',
            '104'='ä¸­å±±å€',
            '105'='æ¾å±±å€',
            '106'='å¤§å®‰å€',
            '108'='è¬è¯å€',
            '110'='ä¿¡ç¾©å€',
            '111'='å£«æ—å€',
            '112'='åŒ—æŠ•å€',
            '114'='å…§æ¹–å€',
            '115'='å—æ¸¯å€',
            '116'='æ–‡å±±å€'
        )
    )
    ### END SOLUTION
}

## è‡ªè¨‚ä¸€å€‹å‡½å¼ `all_time_greats` è¼¸å‡ºä¸€å€‹é•·åº¦ç‚º 5 çš„æœ‰å‘½å `list`ã€‚

- é æœŸè¼¸å…¥ï¼šç„¡
- é æœŸè¼¸å‡ºï¼šä¸€å€‹ `list`

In [2]:
all_time_greats <- function() {
    # my_all_time_greats <- all_time_greats()
    # my_all_time_greats[['PG']]
    # 'Steve Nash'
    # my_all_time_greats[['SG']]
    # 'Michael Jordan'
    # my_all_time_greats[['SF']]
    # 'Dirk Nowitzki'
    # my_all_time_greats[['PF']]
    # 'Kevin Garnett'
    # my_all_time_greats[['C']]
    # 'Hakeem Olajuwon'
    ### BEGIN SOLUTION
    return(
        list(
            PG='Steve Nash',
            SG='Michael Jordan',
            SF='Dirk Nowitzki',
            PF='Kevin Garnett',
            C='Hakeem Olajuwon'
        )
    )
    ### END SOLUTION
}

## è‡ªè¨‚ä¸€å€‹å‡½å¼ `batman_trilogy` è¼¸å‡ºä¸€å€‹å¤–è§€ç‚º `3 x 4` çš„ `data.frame`ã€‚

- é æœŸè¼¸å…¥ï¼šç„¡
- é æœŸè¼¸å‡ºï¼šä¸€å€‹ `3 x 4` çš„ `data.frame`

In [3]:
batman_trilogy <- function() {
    # batman_trilogy_df <- batman_trilogy()
    # class(batman_trilogy_df)
    # data.frame
    # nrows(batman_trilogy_df)
    # 3
    # ncols(batman_trilogy_df)
    # 4
    # print(batman_trilogy_df)
    #  episode                 title year rating
    #1       1         Batman Begins 2005    8.2
    #2       2       The Dark Knight 2008    9.0
    #3       3 The Dark Knight Rises 2012    8.4
    ### BEGIN SOLUTION
    episodes <- 1:3
    titles <- c('Batman Begins', 'The Dark Knight', "The Dark Knight Rises")
    years <- c(2005, 2008, 2012)
    ratings <- c(8.2, 9.0, 8.4)
    return(
        data.frame(episode=episodes, title=titles, year=years, rating=ratings)
    )
    ### END SOLUTION
}

## è‡ªè¨‚ä¸€å€‹å‡½å¼ `top_rated_movies` è¼¸å‡ºä¸€å€‹å¤–è§€ç‚º `5 x 3` çš„ `data.frame`ã€‚

- é æœŸè¼¸å…¥ï¼šç„¡
- é æœŸè¼¸å‡ºï¼šä¸€å€‹ `5 x 3` çš„ `data.frame`

In [4]:
top_rated_movies <- function() {
    # top_rated_movies_df <- top_rated_movies()
    # class(top_rated_movies_df)
    # data.frame
    # nrows(top_rated_movies_df)
    # 5
    # ncols(top_rated_movies_df)
    # 3
    # print(top_rated_movies_df)
    #                     title year rating
    #1 The Shawshank Redemption 1994    9.2
    #2          The Dark Knight 2008    9.0
    #3         Schindler's List 1993    8.9
    #4             Forrest Gump 1994    8.8
    #5                Inception 2010    8.7
    ### BEGIN SOLUTION
    titles <- c('The Shawshank Redemption', 'The Dark Knight', "Schindler's List", 'Forrest Gump', 'Inception')
    years <- c(1994, 2008, 1993, 1994, 2010)
    ratings <- c(9.2, 9.0, 8.9, 8.8, 8.7)
    return(
        data.frame(title=titles, year=years, rating=ratings)
    )
    ### END SOLUTION
}

## åŸ·è¡Œæ¸¬è©¦

Kernel -> Restart & Run All.

In [5]:
library(testthat)

test_taipei_zipcode <- tryCatch({
    test_that("test_taipei_zipcode", {
        expect_type(taipei_zipcode(), 'list')
        expect_equal(length(taipei_zipcode()), 12)
        expect_equal(taipei_zipcode()[['100']], 'ä¸­æ­£å€')
        expect_equal(taipei_zipcode()[['103']], 'å¤§åŒå€')
        expect_equal(taipei_zipcode()[['104']], 'ä¸­å±±å€')
        expect_equal(taipei_zipcode()[['114']], 'å…§æ¹–å€')
        expect_equal(taipei_zipcode()[['115']], 'å—æ¸¯å€')
        expect_equal(taipei_zipcode()[['116']], 'æ–‡å±±å€')
    })
    }, error = function(e) {
        FALSE
})
test_all_time_greats <- tryCatch({
    test_that("test_all_time_greats", {
        expect_type(all_time_greats(), 'list')
        expect_equal(all_time_greats()[['PG']], 'Steve Nash')
        expect_equal(all_time_greats()[['SG']], 'Michael Jordan')
        expect_equal(all_time_greats()[['SF']], 'Dirk Nowitzki')
        expect_equal(all_time_greats()[['PF']], 'Kevin Garnett')
        expect_equal(all_time_greats()[['C']], 'Hakeem Olajuwon')
    })
    }, error = function(e) {
        FALSE
})
test_top_rated_movies <- tryCatch({
    test_that("test_top_rated_movies", {
        expect_s3_class(top_rated_movies(), "data.frame")
        expect_equal(nrow(top_rated_movies()), 5)
        expect_equal(ncol(top_rated_movies()), 3)
        expect_equal(max(top_rated_movies()[['rating']]), 9.2)
        expect_equal(min(top_rated_movies()[['rating']]), 8.7)
        expect_equal(max(top_rated_movies()[['year']]), 2010)
        expect_equal(min(top_rated_movies()[['year']]), 1993)
    })
    }, error = function(e) {
        FALSE
})
test_batman_trilogy <- tryCatch({
    test_that("test_batman_trilogy", {
        expect_s3_class(batman_trilogy(), "data.frame")
        expect_equal(nrow(batman_trilogy()), 3)
        expect_equal(ncol(batman_trilogy()), 4)
        expect_equal(max(batman_trilogy()[['rating']]), 9.0)
        expect_equal(min(batman_trilogy()[['rating']]), 8.2)
        expect_equal(max(batman_trilogy()[['year']]), 2012)
        expect_equal(min(batman_trilogy()[['year']]), 2005)
    })
    }, error = function(e) {
        FALSE
})

Test passed ğŸŒˆ
Test passed ğŸ˜€
Test passed ğŸ˜€
Test passed ğŸ˜¸

In [6]:
all_tests <- c(test_taipei_zipcode, test_all_time_greats, test_batman_trilogy, test_top_rated_movies)
passed_tests <- sum(all_tests)
sprintf("åœ¨ %s é¡Œä¸­ï¼Œæ‚¨ç¸½å…±ç­”å°äº† %s é¡Œã€‚", length(all_tests), passed_tests)

[1] "åœ¨ 4 é¡Œä¸­ï¼Œæ‚¨ç¸½å…±ç­”å°äº† 4 é¡Œã€‚"